<button class="uk-button" data-uk-modal="{target:'#my-id'}">...</button>
<div id="my-id" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close" style="color: black"></a>
        <h1><span class="uk-icon-times"></span></h1>
    </div>
</div>

<div class="uk-button-dropdown" data-uk-dropdown="{mode:'click'}">
    <button class="uk-button">Click me <i class="uk-icon-caret-down"></i></button>
    <div class="uk-dropdown">
        <ul class="uk-nav uk-nav-dropdown">
            <li><a href="#">Item</a></li>
            <li><a href="#">Another item</a></li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Another item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#">Separated item</a></li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-lg-24"><h5>{{title}}</h5></div>
</div>

<div class="row">
    <div class="col-md-8">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, aperiam consequatur dignissimos dolore
            harum ipsam laudantium pariatur perspiciatis quidem voluptates. Alias asperiores atque autem laborum minus
            quae sequi similique vitae.
        </div>
        <div>Ab ad adipisci aperiam at consequatur cumque delectus, dicta dolorum esse et explicabo, harum illo minus
            modi, nam nemo nisi nulla placeat praesentium qui recusandae rem sapiente sint tempora voluptate?
        </div>
    </div>
    <div class="col-md-8">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid corporis debitis itaque nam
            natus, nisi, nostrum omnis porro quia quo repudiandae sapiente unde vero vitae voluptates voluptatum.
            Adipisci, rem.
        </div>
        <div>Ex exercitationem iste molestias possimus, soluta tempora temporibus? Animi architecto commodi consequuntur
            dignissimos doloremque dolores eius eligendi hic illum in ipsam magni non, officia quaerat quo sed
            temporibus voluptatibus! Placeat!
        </div>
    </div>
    <div class="col-md-8">
        <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus fugiat impedit nemo numquam quo, quod?
            Amet, blanditiis commodi consequuntur cumque doloribus, enim et expedita molestias necessitatibus, sequi
            totam vero voluptates?
        </div>
        <div>Aspernatur culpa cumque distinctio eius esse, eveniet ex facere illo, itaque iure magnam numquam pariatur,
            possimus praesentium recusandae sunt vero vitae. Commodi cupiditate eligendi itaque necessitatibus officiis
            praesentium, quis repellendus.
        </div>
    </div>
</div>